@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-R.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
	font-family: 'Ubuntu';
}

.header{
	font-family: 'Ubuntu';
}
.footer {
	font-family: 'Ubuntu';
}

table {
    border-collapse: collapse;
}
